{% extends "index.html" %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block line %}
<body class="contact_page">
    <br>
    <h1>About me</h1>

    My name is Bob Borsboom, 28 years old and live in Amsterdam. I live in a living project where I guide refugees with their first steps in The Netherlands.
    My task is to let them feel at home, help them learn the language, culture and make new friends.
    But I also learn a lot from them as they have a different culture, different kitchen and a different language.
    <br>
    Last year I graduated from the University of Amsterdam, with a master's degree in Artificial Intelligence. This was a technical master with a
    lot of mathematics, modeling, coding and fun. It also had much research as we discussed and implemented the latest models. I wrote my thesis at
    Aigritec, a company that tries to let robots take care of apple trees. This includes spraying the flowers and picking the apples during harvesting.
    My task was to write a depth estimation algorithm for the robot such that the robot could understand how far its objects are. More about my thesis
    can be found on the thesis page.
    <br>

    <h3>Bike trips & Volunteer work</h3>
    In my free time, I love to do bike trips in Europe with voluntary work.
    I have done a bike trip to Barcelona and Slovenia. During these trips I did different kinds of volunteer work:
    <ul>
        <li>Working in a mountain hut in the Alps: building a wooden deck with other volunteers</li>
        <li>Setting up a vegetable garden for a new community in Catalonia</li>
        <li>Helping on a campsite/farm in France: Taking care of the animals, help during harvesting and welcoming camping guests</li>
    </ul>

    <img src="../../static/imgs/html_imgs/volunteer.PNG" id="volunteer_img" width="1000" height="280">

{% endblock %}